<%# locals: (readonly: false) %>

<div class="grid grid-cols-[auto_1fr] grid-rows-[auto_1fr]">
	<h4 class="text-2xl font-bold col-start-2"><%= @image.title =%></h4>
	<% if readonly %>
		<div class="mr-2">
			<%= link_to "Edit", {id: @image, action: :edit}, class: "block bg-neutral-300 dark:bg-neutral-500 hover:bg-neutral-200 dark:hover:bg-neutral-400 mt-2 mb-2 p-2 text-center rounded-md" %>
			<% if @image.last_stroke %>
				Last edited by <%= link_to @image.last_stroke.participation.user || "名無し" %> <%= render "datetime", datetime: @image.created_at + @image.last_stroke.created_at_delta_secs, relative: true %>
			<% end %>
		</div>
	<% else %>
		<div id="canvasTools" class="mr-2">
			<fieldgroup>
				<label class="block bg-neutral-300 dark:bg-neutral-500 mt-2 mb-2 pt-2 pb-2 text-center rounded-md has-checked:text-neutral-300 dark:has-checked:text-neutral-600 has-checked:bg-neutral-600 dark:has-checked:bg-neutral-300">
					<input class="hidden" name="tool" type="radio" value="brush" checked />
					<%= svg_icon "pencil" %>
				</label>
				<label class="block bg-neutral-300 dark:bg-neutral-500 mt-2 mb-2 pt-2 pb-2 text-center rounded-md has-checked:text-neutral-300 dark:has-checked:text-neutral-600 has-checked:bg-neutral-600 dark:has-checked:bg-neutral-300">
					<input class="hidden" name="tool" type="radio" value="eraser" />
					<%= svg_icon "eraser" %>
				</label>
				<label class="block bg-neutral-300 dark:bg-neutral-500 mt-2 mb-2 pt-2 pb-2 text-center rounded-md has-checked:text-neutral-300 dark:has-checked:text-neutral-600 has-checked:bg-neutral-600 dark:has-checked:bg-neutral-300">
					<input class="hidden" name="tool" type="radio" value="eyedropper" />
					<%= svg_icon "eye-dropper" %>
				</label>
			</fieldgroup>
			<input id="colorPicker" type="color" class="block rounded-md" />
			<div class="relative openableContainer">
				<a href="#" id="brushSizeButton" class="openableToggle block bg-neutral-300 dark:bg-neutral-500 mt-2 mb-2 text-center rounded-md"><canvas id="brushSizeCanvas" width="32" height="32" class="inline-block rounded-md"></canvas></a>
				<div class="openable hidden block bg-neutral-300 dark:bg-neutral-500 p-2 rounded-md absolute z-1">
					<input id="brushSize" min="1" max="100" type="range" />
					<fieldgroup>
						<label class="rounded-md has-checked:text-neutral-300 dark:has-checked:text-neutral-600 bg-neutral-300 dark:bg-neutral-500 has-checked:bg-neutral-600 dark:has-checked:bg-neutral-300">
							<input class="hidden" name="brushAntialias" type="radio" value="false" checked />
							<%= svg_icon "slash", class: "filter-(--no-antialias-filter)" %>
						</label>
						<label class="rounded-md has-checked:text-neutral-300 dark:has-checked:text-neutral-600 bg-neutral-300 dark:bg-neutral-500 has-checked:bg-neutral-600 dark:has-checked:bg-neutral-300">
							<input class="hidden" name="brushAntialias" type="radio" value="true" />
							<%= svg_icon "slash" %>
						</label>
					</fieldgroup>
				</div>
			</div>
		</div>
	<% end %>
	<canvas class="bg-checkerboard brightness-50 touch-pinch-zoom" id="imageCanvas" <% if readonly %>data-readonly="true"<% end %> width="<%= @image.width =%>" height="<%= @image.height =%>"></canvas>
</div>

<!-- TODO: move out-of-line -->
<style>
.bg-checkerboard {
	background: repeating-conic-gradient(var(--color-neutral-200) 0 25%, white 0 50%) 50% / 32px 32px;
}
</style>

<script>
document.getElementById("imageCanvas").getContext("2d").filter = "var(--no-antialias-filter)";
</script>

<template id="userCursor">
	<div class="absolute pointer-events-none text-white">
		<svg class="cursorPointer mix-blend-difference overflow-visible" width="1" height="1" xmlns="http://www.w3.org/2000/svg">
			<circle class="cursorCircle" stroke="currentColor" fill="none" r="7.5px" />
			<path class="cursorCross" stroke="none" d="M-7 0H7ZM0-7V7Z" />
		</svg>
		<div class="ps-2">
			<span class="userCursorName mix-blend-difference"></span>
			<span class="userCursorDevice"></span>
		</div>
	</div>
</template>
	
<% unless readonly %>
	<script>
	{
		const bscContainer = document.getElementById("brushSizeButton");
		const bsc = document.getElementById("brushSizeCanvas");
		bsc.width = bscContainer.clientWidth;
		bsc.height = bscContainer.clientHeight;
	}

	const brushSampleDefaults = {
		filter: "var(--no-antialias-filter)",
		lineWidth: Number.parseFloat(document.querySelector("#brushSize").value),
		lineCap: "round",
		strokeStyle: "black",
	};

	function drawBrushSample(canvas, opts) {
		const ctx = canvas.getContext("2d");
		for(const [k, v] of Object.entries(opts)) {
			ctx[k] = v;
		}
		// canvas filters may get applied on the next event loop iteration
		return new Promise((resolve) => {
			setTimeout(() => {
				ctx.beginPath();
				ctx.clearRect(0, 0, canvas.width, canvas.height);
				ctx.moveTo(8, 8);
				ctx.lineTo(canvas.width - 8, canvas.height - 8);
				ctx.stroke();
				resolve();
			}, 0);
		});
	}

	document.querySelectorAll(".openableContainer").forEach(el => {
		const openable = el.querySelector(".openable");
		const toggle = el.querySelector(".openableToggle");
		if(!openable || !toggle)
			return;

		const closeListener = ev => {
			console.log(ev.target, openable.contains(ev.target));
			if(openable.contains(ev.target))
				return;
			openable.classList.add("hidden");
			removeCloseListener();
		};

		const removeCloseListener = () => document.removeEventListener("click", closeListener);
		toggle.addEventListener("click", () => {
			if(openable.classList.contains("hidden")) {
				openable.classList.remove("hidden");
				window.setTimeout(() => document.addEventListener("click", closeListener), 0);
			} else {
				
			}
		});
	});

	const canvas = document.getElementById('imageCanvas');

	// all tools
	document.querySelectorAll("input[name=tool]").forEach(el => el.addEventListener("input", ev => {
		document.getElementById("imageCanvas").dataset.tool = ev.target.value;
	}));

	// eyedropper
	function pickCanvasColor(ev) {
		if(canvas.dataset.tool !== "eyedropper" || !Util.pointerIsDown(ev))
			return;
		const [x, y] = Util.localPos(ev, canvas);
		const [r, g, b, a] = canvas.getContext("2d").getImageData(Math.round(x), Math.round(y), 1, 1).data;
		colorPicker.value = `rgb(${r}, ${g}, ${b})`;
	}
	canvas.addEventListener("pointerdown", ev => pickCanvasColor(ev));
	canvas.addEventListener("pointermove", ev => pickCanvasColor(ev));
	canvas.addEventListener("pointerup", e => {
		if(canvas.dataset.tool !== "eyedropper")
			return;
		colorPicker.dispatchEvent(new Event("change"));
	});

	// brush size
	document.getElementById("brushSize").addEventListener("input", e => {
		drawBrushSample(brushSizeCanvas, {lineWidth: e.target.value});
	});

	// brush jaggy
	document.querySelectorAll("input[name=brushAntialias]").forEach(el => el.addEventListener("input", ev => {
		drawBrushSample(brushSizeCanvas, {filter: el.value === "true" ? "none" : "var(--no-antialias-filter)"});
	}));
	drawBrushSample(brushSizeCanvas, brushSampleDefaults);
	</script>
<% end %>

<script>
	window.addEventListener("load", () => {
		const canvas = document.getElementById("imageCanvas");
		const sRelay = new ServerRelay(canvas);
		fetch("<%= url_for :controller => "image_strokes", :image_id => @image.id, :format => :json %>")
			.then(r => r.json())
			.then(j => {
				const pids = new Set();
				j.forEach(ds => ds.forEach(d => {
					if(d.pid)
						pids.add(d.pid);
					sRelay.handleData(d)
				}));
				pids.forEach(pid => sRelay.handleData({action: "leave", pid: pid}));
			}).then(() => {
				canvas.classList.remove("brightness-50");
				imageSubscribe(<%= @image.id %>, canvas, sRelay);
			});
	});
</script>
