<%# locals: (readonly: false) %>

<%
  control_classes = "bg-neutral-300 dark:bg-neutral-500 rounded-md"
  canvas_control_classes = "inline-block md:block min-w-[2lh]"
  button_classes = "#{control_classes} hover:bg-neutral-200 dark:hover:bg-neutral-400 mt-2 mb-2 p-2 text-center"
  check_button_classes = "#{button_classes} has-checked:text-neutral-300 dark:has-checked:text-neutral-600 has-checked:bg-neutral-600 dark:has-checked:bg-neutral-300"
%>

<h4 class="text-2xl font-bold col-start-2"><%= @image.title =%></h4>
<div class="grid md:grid-cols-[auto_1fr] md:grid-rows-[auto_1fr]">
	<% if readonly %>
		<div class="mr-2">
			<% if @image.editable_by? Current.user %>
				<%= link_to "Edit", {id: @image, action: :edit}, class: "block #{button_classes}" %>
			<% end %>
			<% if @image.last_stroke %>
				Last edited by
					<%= link_to @image.last_stroke.participation.user || "名無し" %>
					<%= time_tag @image.created_at + @image.last_stroke.created_at_delta_secs, relative: true %>
			<% end %>
		</div>
	<% else %>
		<div id="canvasTools" class="mr-2 ml-2 whitespace-nowrap">
			<fieldgroup>
				<label class="<%= canvas_control_classes %> <%= check_button_classes %>">
					<input class="hidden" name="tool" type="radio" value="brush" checked />
					<%= svg_icon "pencil" %>
				</label>
				<label class="<%= canvas_control_classes %> <%= check_button_classes %>">
					<input class="hidden" name="tool" type="radio" value="eraser" />
					<%= svg_icon "eraser" %>
				</label>
				<label class="<%= canvas_control_classes %> <%= check_button_classes %>">
					<input class="hidden" name="tool" type="radio" value="eyedropper" />
					<%= svg_icon "eye-dropper" %>
				</label>
			</fieldgroup>
			<div class="<%= canvas_control_classes %> max-w-[2lh] md:max-w-[initial] align-middle">
				<input id="colorPicker" type="color" class="rounded-md w-full" />
			</div>
			<div class="relative openableContainer inline-block md:block ">
				<a href="#" id="brushSizeButton" class="openableToggle <%= canvas_control_classes %> <%= button_classes %>"><canvas id="brushSizeCanvas" width="32" height="32" class="inline-block rounded-md"></canvas></a>
				<div class="openable hidden block bg-neutral-300 dark:bg-neutral-500 p-2 rounded-md absolute z-1">
					<input id="brushSize" min="1" max="100" value="1" type="range" />
					<fieldgroup>
						<label class="<%= check_button_classes %>">
							<input class="hidden" name="brushAntialias" type="radio" value="false" checked />
							<%= svg_icon "slash", class: "filter-(--no-antialias-filter)" %>
						</label>
						<label class="<%= check_button_classes %>">
							<input class="hidden" name="brushAntialias" type="radio" value="true" />
							<%= svg_icon "slash" %>
						</label>
					</fieldgroup>
				</div>
			</div>
		</div>
	<% end %>
	<div id="canvasContainer" class="p-2 relative touch-pinch-zoom overflow-auto">
		<canvas class="bg-checkerboard brightness-50" id="imageCanvas" <% if readonly %>data-readonly="true"<% end %> width="<%= @image.width =%>" height="<%= @image.height =%>"></canvas>
	</div>
</div>

<template id="userCursor">
	<div class="absolute pointer-events-none text-white">
		<svg class="cursorPointer mix-blend-difference overflow-visible" width="1" height="1" xmlns="http://www.w3.org/2000/svg">
			<circle class="cursorCircle" stroke="currentColor" fill="none" r="7.5px" />
			<path class="cursorCross" stroke="none" d="M-7 0H7ZM0-7V7Z" />
		</svg>
		<div class="ps-2">
			<span class="userCursorName mix-blend-difference"></span>
			<span class="userCursorDevice"></span>
		</div>
	</div>
</template>

<script>
window.addEventListener("load", () => {
	const options = {readonly: <%= readonly %>};
	ImageCanvas.setup(options);
	ImageCanvas.connect(<%= @image.id %>, options);
}, {once: true});
</script>
