<h4 class="text-2xl font-bold col-start-2"><%= @image.title =%></h4>
<div class="grid md:grid-cols-[auto_1fr] md:grid-rows-[auto_1fr]"
    data-controller="canvas-tool color-pick channel-canvas"
    data-action="canvas-tool:update->channel-canvas#changeTool"
  >
  <div id="canvasTools" class="mr-2 ml-2 whitespace-nowrap">
    <fieldset>
      <%= canvas_tool_button "brush", icon: "pencil" %>
      <%= canvas_tool_button "eraser", icon: "eraser" %>
      <%= canvas_tool_button "eyedropper", icon: "eye-dropper" %>
      <%= canvas_tool_button "move", icon: "arrows-up-down-left-right" %>
    </fieldset>
    <div class="<%= canvas_control_classes %> max-w-[2lh] md:max-w-[initial] align-middle">
      <input id="colorPicker" type="color" class="rounded-md w-full" data-color-pick-target="input" data-channel-canvas-target="colorPicker" data-action="change->channel-canvas#changeColor" />
    </div>
    <div class="relative openableContainer inline-block md:block ">
      <a href="#" id="brushSizeButton" class="openableToggle <%= canvas_control_classes %> <%= button_classes %>"><canvas id="brushSizeCanvas" width="32" height="32" class="inline-block rounded-md"></canvas></a>
      <div class="openable hidden block bg-neutral-300 dark:bg-neutral-500 p-2 rounded-md absolute z-1">
        <input id="brushSize" min="1" max="100" value="1" type="range" data-action="change->channel-canvas#changeSize" />
        <fieldset>
          <label class="<%= check_button_classes %>">
            <input class="hidden" name="brushAntialias" type="radio" value="false" checked data-action="channel-canvas#changeAntialias" />
            <%= svg_icon "slash", class: "filter-(--no-antialias-filter)" %>
          </label>
          <label class="<%= check_button_classes %>">
            <input class="hidden" name="brushAntialias" type="radio" value="true" data-action="channel-canvas#changeAntialias" />
            <%= svg_icon "slash" %>
          </label>
        </fieldset>
      </div>
    </div>
  </div>
  <%= render("canvas",
      container_data: {
        canvas_tool_target: "canvasContainer",
        controller: "drag-scroll",
        action: %w[
          pointermove->drag-scroll#drag
          pointerup->drag-scroll#resetXY
          pointercancel->drag-scroll#resetXY
          pointerout->drag-scroll#resetXY
        ].join(" "),
      },
      canvas_data: {
        action: %w[
          pointerdown->color-pick#pick
          pointermove->color-pick#pick
          pointerup->color-pick#dispatchChange

          pointerenter->channel-canvas#sendPinfo
          pointermove->channel-canvas#movePointer
          pointerout->channel-canvas#hidePointer
          pointerup->channel-canvas#endStroke
          pointercancel->channel-canvas#endStroke
        ].join(" "),
        drag_scroll_target: "dataHolder",
        canvas_tool_target: "canvas",
        channel_canvas_target: "canvas",
      },
  ) %>
</div>

<script>
window.addEventListener("load", () => {
  ImageCanvas.setup();
  ImageCanvas.connect(<%= @image.id %>);
}, {once: true});
</script>
