<%= render "model_errors", model: @image %>
<%= form_with model: @image do |form| %>
  <div class="contents">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="contents">
    <%= form.label :width %>
    <%= form.number_field :width %>
  </div>
  <div class="contents">
    <%= form.label :height %>
    <%= form.number_field :height %>
  </div>
  <%= form.submit %>
<% end %>
